<ply-input-group [invalid]="showErrors()">
  @if (label()) {
    <ply-label>{{ label() }}</ply-label>
  }
  <input
    ply-input
    [type]="inputType()"
    [value]="value()"
    [placeholder]="placeholder()"
    [attr.autocomplete]="autocomplete()"
    [attr.name]="name() || null"
    [disabled]="isDisabled()"
    (input)="onInput($event)"
    (blur)="onBlur()" />
  <button
    type="button"
    ply-addon-end
    ply-icon-button
    size="sm"
    color="transparent"
    class="focus-visible:ring-0! focus-visible:ring-offset-0!"
    [disabled]="isDisabled()"
    [attr.aria-label]="toggleLabel()"
    [attr.aria-pressed]="visible()"
    (click)="toggleVisible()">
    <ply-icon [name]="visible() ? 'eye-not' : 'eye'" class="h-4 w-4"></ply-icon>
  </button>
  <ng-content select="ply-error"></ng-content>
</ply-input-group>
@if (showStrength()) {
  <ply-password-strength class="mt-2 block" [password]="value()"></ply-password-strength>
}
