@for (group of positionGroups(); track group.position) {
<div
  data-toast-stack
  [class]="getContainerClasses(group.position)"
  [style]="getContainerStyle(group)"
  (pointerenter)="onStackEnter()"
  (pointerleave)="onStackLeave()"
  (focusin)="onStackEnter()"
  (focusout)="onStackLeave($event)">
  @for (toast of group.items; track toast.id) {
  <div
    [attr.data-toast-id]="toast.id"
    [class]="getToastClasses(toast)"
    [style]="getToastStyle(toast, group)"
    [attr.role]="getToastRole(toast)"
    [attr.inert]="isToastInert(toast, group) ? '' : null"
    aria-atomic="true"
    (pointerdown)="onPointerDown($event, toast)"
    (pointermove)="onPointerMove($event, toast)"
    (pointerup)="onPointerUp($event, toast)"
    (pointercancel)="onPointerUp($event, toast)">
    <ply-icon [name]="toast.icon" [class]="getIconClasses(toast)" aria-hidden="true"></ply-icon>
    <span class="flex-1 text-sm font-medium">{{ toast.message }}</span>
    @if (toast.action) {
    <button type="button"
      [class]="getActionClasses()"
      (click)="runAction(toast)">
      {{ toast.action.label }}
    </button>
    }
    <button type="button"
      [class]="getDismissButtonClasses()"
      (click)="dismissToast(toast)"
      [attr.aria-label]="'Dismiss notification: ' + toast.message">
      <ply-icon name="close" [class]="getCloseClasses()"></ply-icon>
    </button>
  </div>
  }
</div>
}
